body{
    background-color:azure;
}
h1 {
    color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-align:center;
    font-size:100px;
    font-weight:bold;
    font-family:"digital-clock-font";
    letter-spacing: 0.1rem;
}

h2 {
    font-size:30px;
    text-align:center;
    line-height:20px;
    display:none;
    font-family: 'digital-7';
}




h3 {
    font-size:25px;
    display:none;
    font-family: 'digital-7';
}
.container {  
    display: grid;  
    height:100%;
    margin-bottom:100px;
    position:relative;
    
}
.lightbox {
    height:250px;
    position: relative;
    left:30px;
    top:30px;
    margin: 20px;
    cursor: pointer;
    display: block;
    z-index: 1;
    background: #111;
}

img {
    margin:5px -14px;
    padding: 10px;
    height: 100%;
    width: 100%;
    position:absolute;
}

.lighbox img.bulb-on{
    opacity: 0;
    animation:glow 3s linear infinite;
}

.bulb-on {
    display: none!important;
}

@keyframes glow {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
    0%{
        opacity: 1;
    }

    20%{
        opacity: 0;
    }
}

 footer {
     text-align:center;
     margin: 10px 5px 30px 5px;
 }

 #startButton{
     font-size:40px;
     border:1px solid black;
     border-radius:20px;
     padding:6px;
     color: #f8fcff;
     background-color: #1e1e56e0;
     cursor: pointer;
     display: inline-block;
     text-transform:uppercase;
     letter-spacing: 0.1rem;
     outline:none;
}

 #startButton:hover{
   background-color: transparent; /* Green */
   color: #403434;
   border: 1px solid black;
   transition:  0.5s ease;
   
   
 }
 @media only screen and (min-width: 1024px) {
   .row {
      margin-left: 1em;
  }
}

 @media only screen and (max-width: 530px) {
   .row {
    position: relative;
    left: 10vw;
  }
}


@media only screen and (max-width: 576px) {
   #start_button {
    margin-left:2em;
    margin-top:40px;
  }
}

@media only screen and (max-width: 520px) {
   #startButton {
    position: relative;
    left:1.4em;
  }
}

@media only screen and (max-width: 576px) {
   .lightbox {
    margin:auto;
    position:relative;
    height:130px;
    left:10px;
  }
}

@media only screen and (max-width: 576px) {
   .container {
    margin-bottom:auto;
    position: relative;
    left: 10px;
  }
}

@media only screen and (min-width: 1026px) {
   .container {
   position: relative;
   left: 50px;
  }
@media only screen and (max-width: 576px) {
   #startButton {
   font-size:35px;
   margin-top:20%;
  }
}
 
@media only screen and (max-width: 576px) {
   .bulb-on.bulb-off {
    height: 35%;
    width: 40%;
}
